
img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

html {
    background-color: rgb(255, 136, 115);
}

h1 {
    font-size: 50px;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
}
