
/* style */

html {
    background-color: rgb(255, 136, 115);
}

img {
    width: 500px;
    height: 400px;
}

div{
    border: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}
